@font-face{
    font-family : "Dosis";
    src : url(../fonts/Dosis-VariableFont_wght.ttf);
    font-display: block;
}

@font-face{
    font-family : "Belleza";
    src : url(../fonts/Belleza-Regular.ttf);
    font-display: block;
}

@font-face{
    font-family : "Raleway";
    src : url(../fonts/Raleway-Regular.ttf);
    font-display: block;
}

@font-face{
    font-family : "Oddly Satisfying";
    src : url(../fonts/OddlyCalmingRegular-7B89V.ttf);
    font-display: block;
}
@font-face{
    font-family : "Alegreya";
    src : url(../fonts/Alegreya-VariableFont_wght.ttf);
    font-display: block;
}
