@import "./_colors.scss";
@import "./values.scss";
@import "./fonts.scss";

h1, h2{
    font-family: "Dosis";
}

.container{
    display : flex;
    flex-direction : column;
    height : 100vh;
    background-color : $backgroundColor;
    object-fit :cover;
}

.header{
    height : $headerHeight;
    padding : 15px;
}

.logo-image{
    height : 100%;
}

.body{
    height : calc(100vh - $headerHeight - $footerHeight);
    display : flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.body h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 1em;
    padding: 0;
    margin:0;
}

.body h2{
    padding:0;
    margin:0;
    font-weight: 600;
    font-size : 40px;
    line-height : 1.5em;
}

.footer{
    height : $footerHeight;
    display : flex;
    flex-direction: column;
    background-image : url(../images/comingsoon-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding : 10px 15px 0;
    justify-content:end;
}

.copyright{
    text-align: center;    
}

.copyright p{
    font-family: "Belleza";
    font-weight : 800;
    font-size : 18px;
}

.telegram-wrapper{
    padding : 0 15px 0 0;
    text-align: right;

}
.telegram-wrapper img{
    height : 50px;
    width : auto;
    object-fit: contain;
}